/*Roboto Slaf 400, 700
  Roboto 400 500 700 900
  Roboto Mono 400 500 700
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --clr-neon: #62d3c9;
  --clr-text: #f5f5dc;
  --clr-bg: #6e0101;
}

body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 400;
}

.home-body {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.social {
  background-color: var(--clr-neon);
  width: 100%;
  height: 50px;
  display: grid;
}

.social-icons {
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

.social-icons a {
  color: black;
  font-size: 28px;
}

.social-icons a:hover {
  color: var(--clr-bg);
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
  background-color: var(--clr-bg);
  position: static;
}

.nav-logo {
  display: flex;
  align-items: center;
  margin-left: 60px;
}
.nav-logo img {
  width: 250px;
  height: 90px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 60px;
}

.nav-link a {
  font-size: 20px;
  text-decoration: none;
  color: var(--clr-neon);
  border-bottom: 1px solid var(--clr-neon);
}
.nav-link a:hover {
  font-size: 24px;
  color: var(--clr-text);
  border-bottom: 1px solid white;
}
/* MAIN HOME*/

.home-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url("../img/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 20px;
}
.main-container__text {
  text-align: center;
  font-size: 30px;
  width: 800;
  letter-spacing: 10px;
  color: var(--clr-text);
}
.main-container__text span {
  display: block;
  color: var(--clr-neon);
}

.neon_button {
  font-size: 24px;
  margin-top: 280px;
  display: inline-block;
  color: var(--clr-text);
  border: var(--clr-neon) 2px solid;
  padding: 10px 10px;
  border-radius: 10px;
  text-shadow: 0 0 0.125em #031a544d, 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
  text-decoration: none;
}

.neon_button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon_button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  color: var(--clr-text);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon_button:hover,
.neon_button:focus {
  color: black;
  background-color: var(--clr-neon);
  text-shadow: none;
  cursor: pointer;
}

.neon_button:hover::before,
.neon_button:focus::before {
  opacity: 1;
}
.neon_button:hover::after,
.neon_button:focus::after {
  opacity: 1;
}

/* PAGINA BLOGS*/

.blogs-main {
  display: grid;
  border: 1px solid var(--clr-bg);
}

.news {
  background-color: gray;
  padding: 40px 50px;
}

.news-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}

.news-content img {
  grid-column: 1;
  width: 90%;
  display: inline-block;

  border-radius: 10px;
}
.news-content h3 {
  margin: 10px 0;
  font-size: 28px;
  text-align: center;
}

.news-info {
  grid-column: 2;
}

.news-info h2 {
  margin-top: 20px;
}

.news-info p {
  margin: 30px 0;
  text-align: justify;
}

/* BOTON DE BLOGS */

.blogs-btn {
  text-decoration: none;
  color: black;
  border: 1px solid var(--clr-bg);
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 10px;
}
.blogs-btn:hover {
  text-decoration: none;
  color: var(--clr-text);
  background-color: var(--clr-bg);
}

/* POSTS */

.posts {
  padding: 0 80px 40px;
  background-color: var(--clr-neon);
}

.posts h3 {
  border-bottom: 1px solid var(--clr-bg);
  padding: 20px 0;
  text-align: center;
}

.posts-blog {
  display: inline-block;
  padding: 15px;
  max-width: 32%;
  margin-bottom: 50px;
}

.posts-blog img {
  width: 100%;
  border-radius: 10px;
}

.posts-blog h4 {
  margin: 20px 0;
}

.posts-blog p {
  margin-bottom: 35px;
  text-align: justify;
}

/* FOOTER */

footer {
  width: 100%;
  height: 80px;
  background-color: black;
  border-top: 35px solid var(--clr-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: var(--clr-text);
  font-size: 18px;
}

/* BLOG */
.main-blog {
  padding: 40px;
}

.main-blog__content {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--clr-bg);
}
.main-blog__content img {
  padding: 10px;
  width: 500px;
  border-radius: 10px;
}
.main-blog__content img:hover {
  opacity: 70%;
}

.blog-content__article {
  padding: 0 80px 40px;
  text-align: justify;
}

.blog-content__article h4 {
  border-bottom: 1px solid var(--clr-bg);
  padding: 20px 0;
}

.blog-content__article h1 {
  margin: 20px 0;
  font-size: 35px;
}

/* CONTACTO */

.section-contact {
  width: 100%;
  background-color: var(--clr-neon);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  padding: 5px;
}

.contact img {
  width: 80px;
  height: 80px;
  display: inline-block;
  padding: 5px;
}

.contact-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.contact-info a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.contact-info p {
  margin-top: 5px;
}
.contact-info textarea,
input {
  width: 100%;
  resize: none;
  border: 1px solid var(--clr-bg);
  padding: 5px;
  margin: 5px;
}

/* PERFIL */

.profile {
  padding: 70px 100px;
  background-color: gray;
  margin-bottom: 5px;
  display: flex;
}

.profile img {
  width: 320px;
  border-radius: 10px;
  margin-right: 30px;
  border: 1px solid var(--clr-bg);
}

.profile-info h2 {
  margin: 20px 0;
  text-align: center;
}

.profile-info p {
  margin-bottom: 35px;
  justify-content: center;
  text-align: justify;
}

.projects-container {
  display: flex;
  flex-direction: column;
  padding: 0 80px 40px;
  overflow-y: auto;
}

.projects-container h3 {
  font-size: larger;
  padding: 20px 0;
  text-align: center;
}
.project-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  max-width: 32%;
  margin-bottom: 50px;
  border: 1px solid var(--clr-bg);
}

.project h4 {
  margin: 20px 0;
  text-align: center;
}

.project p {
  margin-bottom: 35px;
  text-align: justify;
}

.pro-btn {
  text-decoration: none;
  color: black;
  border: 1px solid var(--clr-bg);
  padding: 10px 15px;
  font-size: 15px;
  align-self: center;
  justify-self: end;
  border-radius: 10px;
  cursor: pointer;
}
.pro-btn:hover {
  text-decoration: none;
  color: var(--clr-text);
  background-color: var(--clr-bg);
}
.comments-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px var(--clr-bg);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
.hola-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  width: 55%;
  border: solid 1px var(--clr-bg);
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}
